body {
    background-color: #eee;
}

.bg-color-1 {
    background-color: #000000;
}

.sidebar {
    padding: 20px;
    min-width: 250px !important;
}

.sidebar a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
}

.sidebar a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.sidebar button {
    border-radius: 5px;
}




/* Chat CSS */
#chat3 .form-control {
    border-color: transparent;
}

#chat-user a {
    color: #000;
    text-decoration: none;
}

#chat-user a:hover {
    color: #000;
    text-decoration: #000;
    background-color: #333;
}

#chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}
